@font-face {
    font-family: 'MabinogiClassicR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 768px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

:root[color-theme='light']{
    --background: #fff;
    --background-header-footer-gradient: linear-gradient(90deg, #F09319, #ABBA7C);
    --background-header-footer: #fff;
    --background-menu: #fff;
    --background-hover: #F09319;

    --font-color: #000;
    --font-color-hover: #fff;

    --border: 1px solid #ccc;
}

:root[color-theme='dark']{
    --background: #000;
    --background-header-footer-gradient: ;
    --background-header-footer: #2e3033;
    --background-menu: #1c1d1f;
    --background-hover: #444;

    --font-color: #fff;
    --font-color-hover: #fff;

    --border: 1px solid #444;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
}

/* Header */
#header{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content:space-between;

    position: fixed;
    top: 0;
    z-index: 1000;

    padding: 0 10px;

    color: #fff;
    background: var(--background-header-footer-gradient);
    background-color: var(--background-header-footer)
}

#header-container{
    width:1200px;
    margin: auto;
}

#header svg{
    padding-bottom: 2px;
}

#header-left{
    padding-left: 30px;
    display:flex;
    justify-content: flex-start;
}

#header-right{
    display: none;
    /*display:flex;*/
    justify-content: flex-end;
}
#header-left-title{
    padding: 0 8px 0 0;
    border-radius: 5px;
    cursor: pointer;
}
#header-left-title:hover{
    background-color: var(--background-hover)
}

.header-submenu {
    margin: auto 0;
}

/* Navigator */
#navigator{
    width: 180px;

    display:flex;
    flex-direction: column;

    position: fixed;
    top: 70px;
    left: 20px;


    color: var(--font-color);

    border-radius: 5px;
    border: var(--border);
    background-color: var(--background-menu);
}

#navigator-top{
    margin: 5px auto 0;
    display: flex;
    flex-direction: column;
}

#navigator-category{
    margin: 5px;
    line-height: 2rem;
    font-size: 12px;
}

.navigator-category-upper{
    cursor: pointer;
    font-weight: bold;
    padding-left: 5px;
}

.navigator-category-upper:hover{
    background-color: var(--background-hover);
    border-radius: 5px;
    color: var(--font-color-hover);
}

.category-tooltip {
    width: 150px;

    position: fixed;
    background-color: #F09319;
    color: #000;
    padding: 5px;
    display: none;
    z-index: 1000;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;

    border: var(--border);
    border-radius: 5px;
    animation-name: slideIn;
}

.category-tooltip-item{

}
.category-tooltip-item:hover{
    background-color: rgba(0,0,0,0.1)
}

#navigator-bottom{
    position: relative;
    bottom: 5px;

    display:none;
    margin: auto auto 0;
}
.navigator-submenu{
    display: flex;
    align-items: center;
    height: 40px;
    text-align: left;

    margin-bottom: 5px;
    cursor: pointer;
}
.navigator-submenu svg{
    margin-right: 5px;
}
.navigator-submenu form{
    display: flex;
    align-items: center;
}

.navigator-submenu-text{
    font-size: 12px;
    padding-right: 5px;
}

#search{
    display: block;
    height: 30px;
    margin: 12px 0 0 5px;
    width:  120px;
}

.submenu{
    border-radius: 5px;
    padding: 0 4px;
}
.submenu:hover{
    color: var(--font-color-hover);
    background-color: var(--background-hover);
}
.submenu svg{
    margin: 10px 5px;
}

/* container */
#container{
    width: 1200px;
    display: flex;


    margin: auto;

    margin-top: 40px;
    background-color: var(--background);

    flex: 1;
    flex-direction:column;
}

/* content */
#content{
    flex:1;

    height: 100%;
    width: 980px;

    margin: 30px 0 0 250px;
    padding: 40px;

    border-radius: 5px;
    border: var(--border);
    background-color: var(--background);

    color: var(--font-color);

    font-family:'MabinogiClassicR';

}

#content-article{
    color: var(--font-color)
}

#content-article h2{
    color: #F09319;
    margin-top: 30px;
}

#content-article ol,ul{
    line-height: 30px;
}

#content-article img{
    max-width: 100%;
    height: auto;
    margin: 5px 0;
}

.indent{
    text-indent: 20px;
}

#item-list{
    display:none;
}

#item-list-chart{
    margin: 30px 0;
    height: 300px;
    display: none;
}

#chart{
    width: 900px;
    margin: 0 auto;
}



#item-list-title-container{
    color: #fff;
    font-size: 20px;
    margin: 0px auto 20px;
    text-align: center;
}

#item-list-title{
    padding: 5px;
    background-color: var(--background-hover);
    border-radius: 5px;
}

#content table{
    height: 100px;
    width: 900px;

    color: var(--font-color);

    border-collapse: collapse;
    margin: 0 auto 40px;
}

#content th, td{
    border-bottom: var(--border);
    padding: 15px 0 12px;

    text-align:center;
}

#content td button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
}

/* paging */
#paging{
    display: inline;
}

.paging-btn svg{
    padding-bottom: 3px;
}

#paging li{
    display: inline;

}

#paging li a{
    color: #F09319;
    padding: 0 5px;
    text-decoration: none;
}

#page-current{
    background-color: #F09319;
}

/* Detailed tooltip */
fieldset{
    border: 1px solid #999;
    border-radius: 5px;
    padding: 0 7px 7px;
    margin-top: 17px;
}
.item-option-legend{
    display: inline;
    position: relative;
    top: -10px;
    left: 0px;
    padding: 3px;
    background-color: #000;
    color: #F09319;
    z-index: 1000;
}
.item-option-content{
}

/* footer */
#footer{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content:space-between;

    padding: 0 10px;

    color: #fff;
    background: var(--background-header-footer-gradient);
    background-color: var(--background-header-footer);
    border-top: var(--border)
}

#footer-content{
    width:980px;
    margin: auto;

    text-align:center;
}